.btn-link{
    width: 50px;
    height: 50px;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
    background: url(paintbrush.jpg);
    animation: testoff 0.5s;
    
}

button:hover { 
    animation: test 0.5s;
    transform: translate(-5px, -5px);
    width: 60px;
    height: 60px;
    z-index: 10;
    
}

@keyframes test {
    from {
        transform: translate(0px, 0px);
        width: 50px;
        height: 50px;
        }
    to {
        transform: translate(-5px, -5px);
        width: 60px;
        height: 60px;
    }
  }

  @keyframes testoff {
    from {
        transform: translate(-5px, -5px);
        width: 60px;
        height: 60px;
        }
    to {
        transform: translate(0px, 0px);
        width: 50px;
        height: 50px;
    }
  }